@(contacts: List[Contact])

@Main("Home") {
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>First</th>
          <th>Last</th>
          <th>Phone</th>
          <th>Phone Type</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        @for(contact <- contacts) {
          <tr>
            <td>@contact.getFirstName()</td>
            <td>@contact.getLastName()</td>
            <td>@contact.getPhoneNumber()</td>
            <td>@contact.getTelephoneType()</td>
            <td>@contact.getAddress()</td>
            <td><a href="@routes.Application.newContact(contact.getId())" class="btn btn-warning">Edit</a></td>
            <td><a href="@routes.Application.deleteContact(contact.getId())" class="btn btn-danger">Delete</a></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}