@(message: String)

@Main("Home") {
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>First</th>
          <th>Last</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dewey</td>
          <td>Havtoo</td>
          <td>808-123-4567</td>
        </tr>
        <tr>
          <td>Sandy</td>
          <td>Beech</td>
          <td>808-123-4567</td>
        </tr>
        <tr>
          <td>Ira</td>
          <td>Fuse</td>
          <td>808-123-4567</td>
        </tr>
      </tbody>
    </table>
  </div>
}