@(contactForm: Form[views.formdata.ContactFormData])

@import views.html.bootstrap3._
@import helper._

@Main("NewContact") {
  <div class="container">
    @form(routes.Application.postContact()) {
      <div class="form-group @if(contactForm("firstName").hasErrors) {has-error}">
        <input type="hidden"
               id="@contactForm("id").id"
               name="@contactForm("id").name"
               value="@contactForm("id").value">
        @text(contactForm("firstName"),
              label = "First Name",
              placeholder = "Enter your first name")
      </div>
      <div class="form-group @if(contactForm("lastName").hasErrors) {has-error}">
        @text(contactForm("lastName"),
              label = "Last Name",
              placeholder = "Enter your last name")
      </div>
      <div class="form-group @if(contactForm("phoneNumber").hasErrors) {has-error}">
        @text(contactForm("phoneNumber"),
              label = "Phone Number",
              placeholder = "Enter your phone number")
      </div>
      <div class="form-group @if(contactForm("address").hasErrors) {has-error}">
        @text(contactForm("address"),
              label = "Address",
              placeholder = "Enter your address")
      </div>

      <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    }
  </div>
}