@(contactForm: Form[views.formdata.ContactFormData], telephoneTypeMap: Map[String, Boolean])

@import helper._
@import views.html.bootstrap3._

@Main("NewContact") {
  <div class="container">
    @form(routes.Application.postContact()) {
      <input type="hidden"
             id="@contactForm("id").id"
             name="@contactForm("id").name"
             value="@contactForm("id").value">
      @text(contactForm("firstName"),
            label = "First Name",
            placeholder = "Enter your first name")
      @text(contactForm("lastName"),
            label = "Last Name",
            placeholder = "Enter your last name")
      @text(contactForm("phoneNumber"),
            label = "Phone Number",
            placeholder = "Enter your phone number")
      @bootstrap3.select(contactForm("telephoneType"),
                         label = "Telephone Type",
                         optionMap = telephoneTypeMap,
                         isMultiple = false)
      @text(contactForm("address"),
            label = "Address",
            placeholder = "Enter your address")

      <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    }
  </div>
}